<!DOCTYPE html>
<html>
<head>
  <title>Получение IP-адреса</title>
</head>
  <body>
    <div class="content">
      <article class="article">
        <p>
          МОСКВА, 11 авг - РИА Новости. Разведслужба Новой Зеландии (NZSIS) впервые опубликовала открытый доклад с оценками угроз, среди которых названо "иностранное вмешательство" со стороны Китая, Ирана и России, сообщило в пятницу радио RNZ.
Основными вызовами для себя Новая Зеландия считает глобальную конкуренцию, падение общественного доверия, технические инновации и глобальную экономическую нестабильность.
"Лишь небольшое число государств причастно к вмешательству против Новой Зеландии, но некоторые делают это столь настойчиво и могут нанести значительный вред. Этот доклад подчеркивает активность трех стран в особенности: КНР, Исламской Республики Иран и России", - отмечает новозеландская разведка.
        </p>
      </article>
      <article class="article">
        <p>
          Также внешнеполитическое ведомство Китая отметило, что США говорят о желании защитить интересы всего мира, но по факту захватывают космические ресурсы ради личной выгоды и подрывают мир в космосе. "США в директивных документах министерства обороны открыто определяют космическое пространство как "территорию для сражений" и "приоритетную область развития национальной военной мощи", они стремятся к военной гегемонии в космическом пространстве и обостряют гонку вооружений в космосе, что представляет серьезный вызов для космической безопасности", - заявили в МИД КНР.
"Космос должен стать пространством для взаимовыгодного сотрудничества, а не ареной для соперничества стран", - указали в МИД. В ведомстве добавили, что Китай всегда осуществлял деятельность по использованию космического пространства в мирных целях в соответствии с международным правом и международной практикой, а также активно развивал международное сотрудничество в сфере космоса.
        </p>
      </article>
      <article class="article">
        <p>
          "Цены в мегаполисах во всем мире в среднем увеличились на 8,1% в местной валюте за год… Наше исследование выявило, что стоимость жизни растет самыми быстрыми темпами за как минимум 20 лет", - отмечает газета.

По ее данным, на росте цен сказались ограничения КНР на поставки из-за коронавируса, рост стоимости энергоресурсов и продовольствия, украинский кризис и другие факторы.
        </p>
      </article>
      
    </div>
  </body>
</html>